<div id="<%= dom_id message %>" class="box msg-box slideInLeft" data-controller="reload" data-action="animationend->reload#clearClass:event">
  <article class="media">
    <div class="media-content">

      <nav class="level is-mobile">
        <div class="level-left">
          <strong><%=link_to message.user, message.user %></strong><%= sanitize("&nbsp;&bull;&nbsp;")%><%= link_to message.updated_at.to_formatted_s(:short), message, class: 'subtitle is-6'%>
        </div>
        <%= turbo_frame_tag dom_id(message, "controls") do %>
          <%= render 'messages/controls', message: %>
        <%end%>
      </nav>
      <%= turbo_frame_tag dom_id(message, "content"), class: "content" do %>
        <p>
          <%= message.content %>
        </p>
      <% end %>
    </div>
  </article>
  <div id="reload"><a data-reload-target="reload" data-turbo-stream href="/messages/reload/<%= message.id %>"></a></div>
</div>
