<%= turbo_frame_tag 'user-edit' do %>
  <%= form_with(model: user, class: "column is-narrow", autocomplete: 'off') do |form| %>

    <div class="field">
      <%= form.label :password, 'New Password', class: 'label' %>
      <div class="control">
        <%= form.password_field :password, class: 'input', placeholder: '8 characters minimum', minlength: 8, pattern: '^(?!.* ).{1,}$', required: true %>
      </div>
    </div>

    <div class="field">
      <%= form.label :password_confirmation, 'Repeat Password', class: 'label' %>
      <div class="control">
        <%= form.password_field :password_confirmation, class: 'input', placeholder: 'Repeat your password', minlength: 8, pattern: '^(?!.* ).{1,}$', required: true %>
      </div>
    </div>

    <div class="field mt-4">
      <div class="control buttons is-centered">
        <%= link_to 'Cancel', edit_user_path, class: 'button is-pretty' %>
        <%= form.submit 'Confirm', class: 'button is-pretty is-green' %>
      </div>
    </div>

  <% end %>
<% end %>
