<div class="has-text-centered mb-4">
  <h1 class="title is-size-3-desktop has-text-weight-bold is-size-4-touch"><%= @user %>'s Profile</h1>
</div>
<div class="tabs is-centered" data-controller="usertabs">
  <ul>
    <li class="is-active">
      <%= link_to user_posts_path(@user), data: { turbo_frame: 'user-content'}, class: 'waits-for-turbo' do %>
        <span class="icon is-small"><i class="fa-solid fa-image"></i></span>
        <span>Posts</span>
      <% end %>
    </li>
    <li>
      <%= link_to user_messages_path(@user), data: {turbo_frame: 'user-content'}, class: 'waits-for-turbo' do %>
        <span class="icon is-small"><i class="fa-regular fa-note-sticky"></i></span>
        <span>Messages</span>
      <% end %>
    </li>
    <% if @user == current_user %>
      <li>
        <%= link_to edit_user_path(@user), data: {turbo_frame: 'user-content'}, class: 'waits-for-turbo' do %>
          <span class="icon is-small"><i class="fa-solid fa-gear"></i></span>
          <span>Edit</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<%= turbo_frame_tag "user-content" do %>
  <%= render 'user_posts', posts: @posts %>
<% end %>
<%= turbo_frame_tag 'modal' %>
