<div class="container has-text-centered">
  <%= image_tag @post.image_url %>
</div>
<%= turbo_frame_tag dom_id(@post, "content"), class: "content" do %>
  <%= render 'details', post: @post %>
<% end %>
<div class="buttons is-centered mt-4" data-controller="posts">

  <%=
   link_to_unless(request.referrer.nil?, "Back", :back, class: "button is-pretty") do
     link_to("Back", posts_url, class: "button is-pretty")
   end 
   %>

  <% if @post.user == current_user %>
    <%= link_to "Edit", edit_post_path(@post), class: 'button is-pretty is-blue waits-for-turbo', data: {'turbo-frame': dom_id(@post, "content") } %>
    <%= link_to "Delete", "#{@post.id}/prompt", data: {"turbo-stream": :get}, class: 'button is-pretty is-red waits-for-turbo' %>
  <% end %>
</div>

<%= turbo_frame_tag 'modal' %>
