<!DOCTYPE html>
<html class="noJS">
  <head>
    <title>Alpha</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- favicon by amonrat rungreangfangsai -->
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <script>
      document.documentElement.classList.remove("noJS");
    </script>
    <%= render 'nav' %>
    <main class="section">
      <div class="container is-max-desktop">
        <div id="flash" class="message">
          <%= render "layouts/flash" %>
        </div>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
